.our_clients
    display: flex
    justify-content: center
    align-items: center
    background-color: $main-bg-color
    .section_title
        @extend %section_title
    h2
        @include h2_title
        margin: 40px 0 80px 0
    .slider_clients 
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        overflow: hidden
        width: 60vw
        .clients 
            display: flex
            margin-bottom: 30px
            position: relative
            left: 0 
            transition: left 0.5s
            & > div
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                img
                    margin: 0 5px
                p
                    display: block
                    text-align: center
        .shift_clients
            align-self: flex-end
            
